@import (reference) "_variables";

/*	tag
----------------------------------------------------------------------*/


tag {
	display: inline-block;
	font-size: @fs-xs;
	border-bottom: 1px solid @grey-light;
	border-radius: 1.5rem;
	background: @grey-ultralight;
	color: @primary;
	padding: 0.2rem 1.2rem;
	margin: 0 0.5rem 0.5rem 0;
}